// USER VARIABLES SECTION

@accent: #7e2b00; // Accent Color
@darkblue: #35455c;
@grey: #f1f1f1;
@white: #fff;
@mainfamily: 'Cuprum', sans-serif;

// FONTS LOAD SECTION

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Regular.eot');
	src: url('../fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cuprum-Regular.woff') format('woff'),
	url('../fonts/Cuprum-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Bold.eot');
	src: url('../fonts/Cuprum-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Cuprum-Bold.woff') format('woff'),
	url('../fonts/Cuprum-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	.wrapper();
}

::placeholder {
	color: #adb1b9;
}

::selection {
	background-color: @accent;
	color: @white;
}

form {
	padding: 3em;
	border-radius: 10px;
	background-color: @white;
	box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.29);

	input, textarea {
		width: 100%;
		font-size: 18px;
		margin-bottom: 13px;
		border-radius: 3px;
		padding: 12px 26px;
		border: 1px solid #adb1b9;
		outline: none;
		// &:focus:required:invalid { border-color: red }
		// &:required:valid { border-color: green }

		&:focus {
			border-color: @accent;
		}
	}

	input[type=file] {
		border: none;
		padding-left: 0;
		padding-right: 0;
	}

}

html {
	font-size: 62.5%;
	.xl(font-size, 50%);
	.lg(font-size, 40%);
	.sm(font-size, 30%);
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
	position: relative;
	font-family: @mainfamily;
	font-weight: 400;
	color: @darkblue;
	background-color: @white;
	overflow-x: hidden;
}

.section-header {
	margin-bottom: 6rem;
	text-align: center;
	color: @white;
	background-color: @darkblue;
	font-size: 3.6rem;
	line-height: 65px;
	text-transform: uppercase;
}

#popup .ajax-loader, 
.free__form .ajax-loader,
.question .ajax-loader,
.hero .ajax-loader {
	display: none
}

#popup .btn {
	margin-top: 13px;
}

.wpcf7 form .wpcf7-response-output {
	margin: 0.5em;
	padding: 0.2em;
	color: #7e2b00;
}

.question {
	.wpcf7 form .wpcf7-response-output {
		color: @white;
	}
}

.wpcf7-response-output, .wpcf7-not-valid-tip {
	font-size: 13px;
}
